body {
        background-image:url(https://i.ytimg.com/vi/KYtskGLOEq4/maxresdefault.jpg);
        background-repeat: no-repeat;
   color: red;background-color:black;
  }
h1{  text-align: center;
}
p {
  text-align: center;
}
h2{
  text-align: center;
}
p{text-align: center;
}
