body {
    background-image:url(http://blogs-images.forbes.com/erikkain/files/2015/05/house-of-wolves.jpg); 
    background-repeat: no-repeat;
color: cyan
}
h1{  text-align: center;
}
p {
  text-align: center;
}
h2{
  text-align: center;
}
p{text-align: center;}
