body {
    background-image:url(http://assets1.ignimgs.com/2015/04/13/destiny-house-of-wolves-buttonjpg-d12f18.jpg) ; background-repeat: no-repeat;
color: cyan
}
h1{  text-align: center;
}
p {
  text-align: center;
}
h2{
  text-align: center;
}
p{text-align: center;}
