    body {
        background-image:url(http://d.christiantoday.com/en/full/22760/destiny-the-dark-below-dlc.jpg);
         background-repeat: no-repeat;
       background-color:#00ffbf;
      }

      h1{  text-align: center;
      }
      p {
        text-align: center;
      }
      h2{
        text-align: center;
      }
      p{text-align: center;
      }
